
<!-- Header  -->
<ion-header no-border>
  <ion-navbar color="white" no-border>

    <!-- Buttons  -->
    <ion-buttons start>
      <button ion-button color="color3" clear (tap)="dismiss()">
        <ion-icon name="arrow-back" style="zoom:2.0;"></ion-icon>
      </button>
    </ion-buttons>

    <!-- Page Title  -->
    <ion-title color="color1">Update Info</ion-title>
  </ion-navbar>
</ion-header>
<!-- End Header  -->

<!-- Content  -->
<ion-content>

  <!-- Profile Information  -->
  <ion-list inset no-lines color="color7">

    <form #updateProfileForm="ngForm" (ngSubmit)="updateProfile()">

    <!-- About  -->
    <p><b>Brief About You</b></p>
    <ion-item no-padding>
       <ion-textarea type="text" value="{{currentUser?.about}}" name="about" #user_about
         placeholder="Briefly introduce yourself and skill" ngModel
         required>
       </ion-textarea>
    </ion-item>


    <p><b>Phone Number</b></p>
    <ion-item no-padding>
      <ion-input type="phone" name="phone" value="{{currentUser?.phone}}" #user_phone
        placeholder="Contact Phone Number" ngModel required></ion-input>
    </ion-item>

    <p><b>Gender</b></p>
    <ion-item no-padding>
      <ion-label> Please Select </ion-label>
      <ion-select  name="gender" #user_gender ngModel required>
      <!-- <ion-select [(ngModel)]="gender"> -->
        <ion-option value="female">female</ion-option>
        <ion-option value="male">male</ion-option>
    </ion-select>
    </ion-item>


    <ion-row>
      <ion-col>
        <p><b>Date of Birth</b></p>
        <ion-item no-padding>
          <ion-label padding-left>
            <ion-icon name="md-calendar" color="color3"></ion-icon>
          </ion-label>
          <ion-datetime name="dob"  displayFormat="DDDD MMM, YYYY" #user_dob placeholder="Date of Birth" ngModel required text-left></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Company  -->
    <p><b>Contact Address</b></p>
    <ion-item no-padding>
      <ion-textarea type="text" name="address" value="{{currentUser?.address}}" #user_address
        placeholder="Contact Address" ngModel required>
      </ion-textarea>
    </ion-item>

    <p><b>State of Residence</b></p>
    <ion-item no-padding>
      <ion-input type="text" name="state" value="{{currentUser?.state}}" #user_state placeholder="State" ngModel
        required></ion-input>
      <!-- <ion-label> Please Select </ion-label>
      <ion-select  name="state" #user_state ngModel required>
        <ion-option value="Female">Abuja</ion-option>
        <ion-option value="Male">Lagos</ion-option>
      </ion-select> -->
    </ion-item>

    <!-- Country  -->
    <p><b>Country of Residence</b></p>
    <ion-item no-padding>
      <ion-input type="text" name="country" value="{{currentUser?.country}}" #user_country placeholder="Country"
        ngModel required></ion-input>
    </ion-item>

    <hr/>
    <button ion-button text-right type="submit" color="color3" ion-button full [disabled]="!updateProfileForm.valid" >
      <ion-icon name="checkmark-circle" style="zoom:1.2; padding-right: 3px;"></ion-icon>
      Update Profile
    </button>
  </form>

  </ion-list>
</ion-content>
