<ion-content>
  <ion-header>
    <ion-navbar color="transparent">
    </ion-navbar>
  </ion-header>
  <ion-card class="header-img">

    <img src="assets/imgs/job-bg.jpg" />
    <div class="card-title">{{ job.job_title }}</div>
    <p class="card-subtitle">{{ job.job_category.name }}</p>
  </ion-card>

  <ion-item-divider color="light">Details</ion-item-divider>

  <ion-grid>
    <ion-row>
      <ion-col col-4>Job Type:</ion-col>
      <ion-col col-8>Full time</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>Job Description:</ion-col>
      <ion-col col-8>{{ job.job_description }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>Monthly Salary:</ion-col>
      <ion-col col-8>	&#8358; {{ job.monthly_salary }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>Expiry Date:</ion-col>
      <ion-col col-8>{{ job.expiry_date }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 text-right>
        <button ion-button round color="primary">Edit Job</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item-divider color="light">Applications: {{ jobseekers?.length }}</ion-item-divider>

  <ion-spinner *ngIf="spin"></ion-spinner>

  <ion-slides autoplay="5000" slidesPerView="3" class="animated slideInRight" effect="slide" *ngIf="!spin && jobseekers?.length">
    <ion-slide (click)="goToUserApplicationPage(jobseeker)" *ngFor="let jobseeker of jobseekers">
      <ion-card>
        <img src="assets/imgs/job-user.png">
        <p>{{ jobseeker.name.substring(0, jobseeker.name.indexOf(' ')) + ' '+ jobseeker.name.substring(jobseeker.name.indexOf(' ')+1, jobseeker.name.indexOf(' ')+2)}}.</p>
        <p>Professional Dentist</p>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>
