page-my-job-details {

  .header-img{
    height: 35%;
    width: 100%;
    margin: 0;
    border-radius: 0%;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .toolbar-background {
    border-bottom: none !important;
  }


  ion-card {
    position: relative;
    text-align: center;
    margin: 0;
  }

  .card-title {
    position: absolute;
    top: 30%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #ebebeb;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    padding-top: 10px;
    color: #ebebeb;
  }

  ion-grid{
    margin: 3% 0;
    ion-row {
      font-weight: 600;
      ion-col:nth-of-type(2){
        color: #6e6c6c;
      }
    }
  }

  ion-item-divider{
    font-weight: 600;
  }

  .label-md,
  .label-ios {
    margin-top: -3px;
    margin-bottom: -3px;
  }

  ion-slides{
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  ion-spinner{
    display: inline-block;
    position: absolute;
    bottom: 10%;
    right: 45%;
  }

  .swiper-slide{
    height: 130px;
    width: 100px;

    .card{
      height: 120px;
      width: 110px;

      img{
        height: 55px;
        width: 110px;
      }

      p:nth-of-type(1){
        font-size: 0.95em;
        margin-top: 10px;
        color: $color3;
      }

      p:nth-of-type(2){
        font-size: 0.75em;
        color: rgb(49, 49, 49);
      }
    }
  }
}
