<ion-header>

  <ion-navbar>
    <ion-title>{{ job.job_title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="greybg">
    <ion-list>

       <ion-card>

                <ion-card-header text-left>
                   <ion-icon color="color7" name="locate"></ion-icon> {{job.location}}
                   <hr/>
                </ion-card-header>

                <ion-card-content>
                 {{job.job_description}}
                </ion-card-content>




      </ion-card>

    </ion-list>


 <div class="buttons">

    <!-- Dis-Like Button  -->
    <div class="button-container center">
      <button ion-button icon-only round class="dislike bubbly-button" (tap)="dismiss()" id="dislike-button">
        <ion-icon color="danger" name="md-close"></ion-icon>
      </button>
    </div>

    <!-- Refresh Button  -->
    <div class="button-container center">
      <button ion-button icon-only round class="refresh bubbly-button" (tap)="dismiss()">
        <ion-icon color="color7" name="apps"></ion-icon>
      </button>
    </div>

    <!-- Super Like Button  -->
    <!-- <div class="button-container">
      <button ion-button icon-only round class="super-like" (click)="like(true)" id="super-like-button">
        <ion-icon color="color4" name="star"></ion-icon>
      </button>
    </div> -->

    <!-- Like Button  -->
    <div class="button-container center" >
      <button ion-button icon-only round class="like bubbly-button" (click)="like(true)" id="like-button">
        <ion-icon color="color5" name="checkmark-circle"></ion-icon>
      </button>
    </div>

    <!-- Flash Button  -->
    <!-- <div class="button-container">
      <button ion-button icon-only round class="refresh">
        <ion-icon color="color6" name="flash"></ion-icon>
      </button>
    </div> -->
  </div>



  <!-- <button ion-button full block color="color3" (tap)="dismiss()">Dismiss</button> -->
</ion-content>
