page-job-details {



 .buttons {
        display: flex;
        align-items: center;
        margin: auto;
        z-index: 1;
        .button-container {
            text-align: center;
            button {
                background-color: white;
                font-size: 2.4rem;
                padding: 0px;
                margin: 5px;
                width: 7rem;
                height: 7rem;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                &.refresh {
                    width: 5rem;
                    height: 5rem;
                }
                &.super-like {
                    width: 5rem;
                    height: 5rem;
                }
            }
        }
    }

  .center {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .greybg {
    background-color:  #2b633b !important;
  }


}
