<ion-content id="landing-page">
  <div class="background" text-center>
    <div class="logo-contents animated fadeInDown">

      <!-- Slider Cntent  -->
      <ion-slides pager autoplay="5000" loop="true">
        <ion-slide>
          <p class="heading">Find Healthcare Jobs!</p>
          <!-- <ion-icon name="medkit" style="zoom:4.0;" color="color3"></ion-icon> -->
          <i class="fa fa-medkit" color="color3"></i>
          <p class="subheading" padding>Swipe through a list of Healthcare jobs</p>

        </ion-slide>

        <ion-slide>
          <p class="heading">Interested in a Job?</p>
          <ion-icon name="fastforward" style="zoom:4.0;" color="color3"></ion-icon>

          <p class="subheading" padding>Swipe right to show interest in a Job... <br/>
          Swipe left to see other jobs.</p>

        </ion-slide>

        <ion-slide>
          <p class="heading">Chat with Employers</p>
          <ion-icon name="chatboxes" style="zoom:4.0;" color="color3"></ion-icon>

          <p class="subheading" padding>Instantly chat with your matched potential employer when they show interest </p>

        </ion-slide>
      </ion-slides>
    </div>

    <!-- Buttons  -->
    <!-- <ion-row>


      <ion-col>
        <div class="button-option animated fadeInUp" padding>
          <button class="custom-btn" ion-button padding full color="color3" (click)="goToSignUpPage()">SIGN UP</button>
        </div>
      </ion-col> <br/>
       <ion-col>
        <div class="button-option animated fadeInUp" padding>
          <button class="custom-btn" ion-button padding full color="primary" (click)="goToSignInPage()">SIGN IN</button>
        </div>
      </ion-col>

    </ion-row> -->

    <ion-row>

      <ion-col>
         <div class="button-option animated fadeInUp" padding style="padding-bottom: 0px !important;">
      <button class="custom-btn" ion-button padding full color="color3" (click)="goToSignUpPage()">SIGN UP</button>
      <p class="small" (click)="goToSignInPage()">Already have an account? <b>LOGIN</b></p>
    </div>
      </ion-col>
    </ion-row>

   <!--  <ion-row>
      <ion-col>
         <div class="button-option animated fadeInUp" padding style="padding-top:0px !important; margin-top:0px !important;">
         <button class="custom-btn" ion-button padding full color="primary" (click)="goToSignInPage()">SIGN IN</button>
       </div>
        </ion-col>

    </ion-row>
 -->
  </div>
</ion-content>
