page-landing {
    .background {
        height: 100%;
        .logo-contents {
            height: 70%;
            img {
                width: 200px;
                padding-top: 15%;
            }
            h1 {
                color: #343434;
            }
            .heading {
                margin-top: -10%;
                text-transform: uppercase;
                font-size: 20px;
                // font-weight: bold;
                color: #333;
            }
            .subheading {
                color: #343434;
                font-style: italic;
                font-size: 15px;
                padding: 20px;
            }
        }
        .button-option {
            height: 30%;
            .custom-btn {
                margin-top: 20%;
            }
        }
        ion-slide{

          i{
            zoom:4.0;
            color: #3a5f3d;
          }
        }
    }
}
