page-sign-in {

  .passwordIcon{
     font-size:2rem !important;
     position: relative !important;
     top: 22px !important;
     margin: 0 auto !important;
  }

    .background {
        height: 100%;
        .title {
            margin-top: 20%;
            font-size: 32px;
            // font-weight: 700;

            p span{
              display: inline-block;
              padding-bottom: 5px;
              border-bottom: 2px solid;
              border-bottom-color: $colorMain;
            }
        }
        /* signin form style */
        .signin-form {
            form {
                margin-top: 10%;
                margin-bottom: 15%;
                // ion-list {
                //   margin-bottom: 10%;
                //     .item-input {
                //         ion-label {
                //             color: #000;
                //             margin-left: 10px;
                //         }
                //     }
                //     .item:first-child {
                //         border-top: 1px solid $light !important;
                //         border-bottom: 1px solid $light !important;
                //     }
                //     .item-inner {
                //         border-top: 1px solid $light !important;
                //         border-bottom: 1px solid $light !important;
                //     }
                //     .item {
                //         border: 1px solid $light !important;
                //         padding-left: 0;
                //         margin-bottom: 10px;
                //         .text-input {
                //             padding: 5px;
                //         }
                //         *::-webkit-input-placeholder {
                //             color: $light;
                //         }
                //     }
                // }
            }
        }
    }
}
