
<!-- SignIn/Login Page -->

<ion-content class="no-scroll">
  <div class="background no-scroll" text-center>

    <!-- Title Of Page  -->
    <div class="title animated fadeInDown">
      <p>L<span>ogi</span>n</p>
    </div>

    <!-- Main Body -->
    <div class="signin-form" padding>

      <!-- SignIn Form  -->
      <form #signInForm="ngForm" (ngSubmit)="signInUser()" >
        <ion-list>

          <!-- Email -->
          <ion-item>
            <ion-label floating color="color3">
              <ion-icon name="md-mail" color="color3"></ion-icon>
              Email
            </ion-label>
            <ion-input type="email" name="email" email ngModel required #email></ion-input>
          </ion-item>


          <!-- Password -->
          <ion-item>
            <ion-label floating color="color3">
              <ion-icon name="lock" color="color3"></ion-icon>
              Password
            </ion-label>
            <ion-input [type]="passwordType" name="password" ngModel required #password clearOnEdit="false"></ion-input>
            <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
          </ion-item>
        </ion-list>

        <!-- SignIn Button -->
        <div class="buttons animated fadeInUp">
          <button ion-button type="submit" color="color3" ion-button full [disabled]="!signInForm.valid">
            Sign In
          </button>
        </div>
      </form>


      <!-- Sign Up Page Button Option -->
      <button ion-button color="color7" clear (click)="goToSignUpPage()">
        <strong>NEW HERE? SIGN UP</strong>
      </button>

      <!-- Landing Page Button Option -->
      <button ion-button clear color="color7" (tap)="goToLandingPage()">Back</button>
    </div>
  </div>
</ion-content>
