<ion-content text-center class="no-scroll">
  <!-- All the SignUp form contents added in Slider  -->


  <ion-slides>

    <!-- Slider One  -->
    <!-- SignUp Form Step One  -->
    <!-- Select user Role option to go to next slider -->
    <ion-slide>
      <div class="main-body">
        <div class="section-one">
          <div class="field-title">Hello there! Are you a </div>
        </div>
        <div class="section-two">
          <ion-grid>
            <ion-row text-center>
              <ion-col col-6>
                <ion-row (tap)="role = 'jobseeker'">
                  <ion-col col-12>
                    <ion-icon name="man" style="zoom:4.0;" [color]="role === 'jobseeker' ? 'color3' : 'light'"></ion-icon>
                  </ion-col>
                  <ion-col col-12>
                    <button ion-button [color]="role === 'jobseeker' ? 'color3' : 'light'">Jobseeker</button>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col col-6>
                <ion-row (tap)="role = 'employer'">
                  <ion-col col-12>
                    <ion-icon name="git-network" style="zoom:4.0;" [color]="role === 'employer' ? 'color3' : 'light'"></ion-icon>
                  </ion-col>
                  <ion-col col-12>
                    <button ion-button [color]="role === 'employer' ? 'color3' : 'light'">Employer</button>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div class="section-three">
          <ion-list>
            <div class="button-option animated fadeInUp" padding-left padding-right>
              <button ion-button full color="color3" (click)="step2()">Continue</button>
              <button ion-button clear color="color7" (tap)="goToLandingPage()">Back</button>
            </div>
          </ion-list>
        </div>
      </div>
    </ion-slide>
    <!-- End Slider One  -->


    <!-- Slider Two  -->
    <!-- SignUp Form Step One  -->
    <!-- Fill in user name and email to go to next slider -->
    <ion-slide>

      <div class="background" text-center>
        <div class="title animated fadeInDown">
          <h2>Us<span>er In</span>fo</h2>
        </div>

        <!-- Main Body -->
        <div class="main-body" padding>

          <form #userInfoForm="ngForm" (ngSubmit)="step3()">

            <ion-list>

              <!-- User Name -->
              <ion-item>
                <ion-label color="color3" floating>
                  <ion-icon name="person" color="color3"></ion-icon>
                   Full Name
                </ion-label>
                <ion-input type="text" name="username" #name ngModel required></ion-input>
              </ion-item>

              <!-- Email -->
              <ion-item>
                <ion-label color="color3" floating>
                  <ion-icon name="md-mail" color="color3"></ion-icon>
                   Email
                </ion-label>
                <ion-input type="email" name="email" email #email ngModel required></ion-input>
              </ion-item>

            </ion-list>

            <button ion-button type="submit" color="color3" ion-button  full [disabled]="!userInfoForm.valid" >
              Continue
            </button>
          </form>
          <div class="buttons">
            <!-- Sign In Page Button Option -->
            <button ion-button color="color7" clear (click)="goToSignInPage()">
              <strong>Already have an account? Sign In</strong>
            </button>
            <!-- Landing Page Button Option  -->
            <button ion-button clear color="color7" (tap)="goToLandingPage()">Back</button>
          </div>
      </div>
    </div>
  </ion-slide>


  <!-- Slider Three  -->
  <!-- SignUp Form Step Three  -->
  <!-- Fill in password to go to next slider -->
  <ion-slide>
    <div class="background" text-center>

      <div class="title animated fadeInDown">
        <h2>Pass<span>word D</span>etails</h2>
      </div>

      <!-- Main Body -->
      <div class="main-body" padding>

        <form #signUpForm="ngForm" (ngSubmit)="signUpUser()" >
          <ion-list>

            <!-- Password -->
            <ion-item>
              <ion-label color="color3" floating>
                <ion-icon name="lock" color="color3"></ion-icon>
                Password
              </ion-label>
              <ion-input type="password" name="password" #password ngModel required></ion-input>
            </ion-item>

            <!-- Confirm Password -->
            <ion-item>
              <ion-label color="color3" floating>
                <ion-icon name="lock" color="color3"></ion-icon>
                Confirm Password
              </ion-label>
              <ion-input type="password" name="password" #confirmPassword ngModel required></ion-input>
            </ion-item>

          </ion-list>

          <button ion-button type="submit" color="color3" ion-button  full [disabled]="!signUpForm.valid && !(password.value === confirmPassword.value)">
            Sign Up
          </button>
        </form>


        <div class="buttons">
          <!-- Sign In Button-->
          <button ion-button color="color7" clear (click)="goToSignInPage()">
            <strong>Already have an account? Sign In</strong>
          </button>
          <button ion-button clear color="color7" (tap)="goToLandingPage()">Back</button>
        </div>

      </div>
    </div>
  </ion-slide>

  </ion-slides>

</ion-content>
