page-sign-up {
    height: 100%;
    .slide-zoom {
        height: 100%;
    }
    .main-body {
        height: 100%;
        .section-one {
            height: 20%;
            padding-top: 15%;
            .field-title {
                font-size: 28px;
                color: #424242;
                // font-weight: bold;
            }
        }
        .section-two {
            height: 60%;
            padding-top: 20%;
            .grid {
                .list {
                    .item {
                        border: 1px solid #222;
                        border-bottom: 1px solid #222 !important;
                        border-top: 1px solid #222 !important; // padding: 5px;
                    }
                }
            }
        }
        .section-three {
            height: 20%
        }
    }
    .background {
        height: 100%;
        .title {
            margin-top: 20%;
            font-size: 32px;
            font-weight: 700;
            h2 span {
              display: inline-block;
              padding-bottom: 5px;
              border-bottom: 2px solid;
              border-bottom-color: $colorMain;
            }

        }
        /* main body part style */
        .main-body {
          form{
            margin-top: 10%;
            margin-bottom: 15%;
          }
            // form {
            //     margin-top: 10%;
            //     ion-list {
            //       margin-top: -10%;
            //       margin-bottom: 10%;
            //         .item-input {
            //             ion-label {
            //                 color: #000;
            //                 margin-left: 10px;
            //             }
            //         }
            //         .item:first-child {
            //             border-top: 1px solid $light !important;
            //             border-bottom: 1px solid $light !important;
            //         }
            //         .item-inner {
            //             border-top: 1px solid $light !important;
            //             border-bottom: 1px solid $light !important;
            //         }
            //         .item {
            //             border: 1px solid $light !important;
            //             padding-left: 0;
            //             margin-bottom: 10px;
            //             .text-input {
            //                 padding: 5px;
            //             }
            //             *::-webkit-input-placeholder {
            //                 color: $light;
            //             }
            //         }
            //     }
            // }
        }
    }
}
