
<!-- Header  -->
<ion-header no-border>
  <ion-navbar color="white" no-border>

    <!-- Buttons  -->
    <ion-buttons start>
      <button ion-button color="color3" clear (tap)="dismiss()">
        <ion-icon name="arrow-back" style="zoom:2.0;"></ion-icon>
      </button>
    </ion-buttons>

    <!-- Page Title  -->
    <ion-title color="color1">Edit Profile</ion-title>
  </ion-navbar>
</ion-header>
<!-- End Header  -->

<!-- Content  -->
<ion-content>
  <!-- Profile Photo Section  -->
  <div class="photos-section">
    <ion-grid>
      <ion-row>
        <!-- Photo One  -->
        <ion-col col-3 >
        </ion-col>
        <ion-col col-6 text-center>
          <img [src]="profilePicture" class="profilePicture" *ngIf="profilePicture">
          <div *ngIf="!profilePicture" [innerHTML]="profileInitials" class="profilePicture profilePictureInitials"></div>
          <button icon-only class="bottom-right"><ion-icon name="add" color="white" style="zoom:1.2;"></ion-icon></button>
        </ion-col>

      </ion-row>


   <!--  -->
    </ion-grid>
  </div>

  <!-- Smart Photos Option  -->
  <!-- <ion-item>
    <ion-label color="color7">Enable Smart CV</ion-label>
    <ion-toggle checked="true" color="color3"></ion-toggle>
  </ion-item> -->

  <!-- Profile Information  -->
  <ion-list inset no-lines color="color7">
   <!--  <p>Smart CV sends an auto formatted version of your basic profile and work history to Employers whenever you apply for jobs</p> -->
    <br/>

    <h2> Personal Details </h2>
    <hr/>


    <form #updateProfileForm="ngForm" (ngSubmit)="updateProfile()">

    <!-- About  -->
    <p><b>About You</b></p>
    <ion-item no-padding>
      <ion-textarea type="text" value="{{this.currentUser?.about}}" name="about" #user_about
        placeholder="Briefly introduce yourself and skill" ngModel>
      </ion-textarea>
    </ion-item>

    <!-- Job Title  -->
    <p><b>Full Name</b></p>
    <ion-item no-padding>
      <ion-input type="text" value="{{this.currentUser?.name}}" name="name" #user_name placeholder="Enter Full Name"
        ngModel></ion-input>
    </ion-item>

    <p><b>Phone</b></p>
    <ion-item no-padding>
      <ion-input type="phone" value="{{this.currentUser?.phone}}" name="phone" #user_phone
        placeholder="Contact Phone Number" ngModel></ion-input>
    </ion-item>

    <p><b>Gender</b></p>
    <ion-item no-padding>
      <ion-label> Please Select </ion-label>
      <ion-select name="gender" #user_gender ngModel>
      <!-- <ion-select [(ngModel)]="gender"> -->
        <ion-option value="female">female</ion-option>
        <ion-option value="male">male</ion-option>
    </ion-select>
    </ion-item>

   <!--   <p><b>Responsibilities</b></p>
    <ion-item no-padding>
      <ion-textarea type="text" name="responsibilities" #responsibilities placeholder="Responsibilities at company" ngModel required></ion-textarea>
    </ion-item> -->

    <ion-row>
      <ion-col>
     <p><b>Date of Birth</b></p>
    <ion-item no-padding>
      <ion-label padding-left>
        <ion-icon name="md-calendar" color="color3"></ion-icon>
      </ion-label>
      <ion-datetime name="dob"
        displayFormat="DDDD MMM, YYYY" #user_dob
        placeholder="Date of Birth" ngModel text-left></ion-datetime>
    </ion-item>

  </ion-col>

  </ion-row>

<!-- <p><b>Current Company</b></p>
<ion-item no-padding>
  <ion-input type="text" name="company_name"  #user_company placeholder="Current company name(optional)" ngModel></ion-input>
</ion-item> -->


<!-- <ion-input type="hidden" name="user_id" ng-value="{{ currentUser.id }}" ngModel ></ion-input> -->
<!-- Company  -->
<p><b>Address</b></p>
<ion-item no-padding>
  <ion-textarea type="text" name="address" value="{{this.currentUser?.address}}" #user_address
    placeholder="Contact Address" ngModel></ion-textarea>
</ion-item>

    <p><b>State of Residence</b></p>
    <ion-item no-padding>
      <ion-input type="text" name="state" value="{{this.currentUser?.state}}" #user_state placeholder="State" ngModel></ion-input>
      <!-- <ion-label> Please Select </ion-label>
      <ion-select  name="state" #user_state ngModel required>
        <ion-option value="Female">Abuja</ion-option>
        <ion-option value="Male">Lagos</ion-option>
      </ion-select> -->
    </ion-item>

    <!-- Country  -->
    <p><b>Country of Residence</b></p>
    <ion-item no-padding>
      <ion-input type="text" name="country" value="{{this.currentUser?.country}}" #user_country placeholder="Country"
        ngModel></ion-input>
    </ion-item>


    <button ion-button text-right type="submit" color="color3" ion-button full [disabled]="!updateProfileForm.valid" >

      <ion-icon name="checkmark-circle" style="zoom:1.2; padding-right: 3px;"></ion-icon>
              Update Profile
    </button>

  </form>

<br/>
 <button ion-button text-right type="button" color="color3" ion-button full (click) = "comingSoon()" > <ion-icon name="information-circle" style="zoom:1.2; padding-right: 3px;"></ion-icon>
                Edit Work Details
    </button>
    <br/>

     <button ion-button text-right type="button" color="color3" (click) = "comingSoon()" ion-button full >
     <ion-icon name="information-circle" style="zoom:1.2; padding-right: 3px; "></ion-icon>
                Education Details
    </button>

    <!-- School  -->
    <!-- <p><b>Most Recent School Attended</b></p>
    <ion-item no-padding>
      <ion-input type="text" placeholder="Add School Name"></ion-input>
    </ion-item> -->

    <!-- Instagram Photos  -->
   <!--  <p><b>Show my Instagram Photos</b></p>
    <ion-item no-padding>
      <button ion-button color="color3" clear>Connect Instagram</button>
    </ion-item> -->

    <!-- Gender  -->
    <!-- <p><b>Gender</b></p>
    <ion-list radio-group no-padding>
      <ion-item>
        <ion-label>Male</ion-label>
        <ion-radio color="color3" checked="false" value="Man"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Female</ion-label>
        <ion-radio color="color3" checked="true" value="Women"></ion-radio>
      </ion-item>
    </ion-list>
 -->
    <!-- <ion-list inset>
    <p><b>Control Your Profile</b></p>
    <ion-item>
      <ion-label color="color7">Don't Show My Age</ion-label>
      <ion-toggle checked="true" color="color3"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label color="color7">Make My Distance Invisible</ion-label>
      <ion-toggle checked="false" color="color3"></ion-toggle>
    </ion-item>
  </ion-list> -->
</ion-list>
</ion-content>
<!-- End Content  -->
