<ion-content>
  <ion-header>
    <ion-navbar color="transparent">
    </ion-navbar>
  </ion-header>

  <div class="header-img">
    <img src="assets/imgs/avatar-placeholder.png" />
  </div>

  <div class="header-info">
    <h2>{{ user.name }}</h2>
    <p>Professional Dentist</p>
  </div>

  <ion-grid padding>
    <ion-row>
      <ion-col col-4>Email :</ion-col>
      <ion-col col-8>{{ user.email }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>Phone :</ion-col>
      <ion-col col-8>{{ user.phone }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>Location :</ion-col>
      <ion-col col-8>{{ user.address }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>About :</ion-col>
      <ion-col col-8>{{ user.about }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>Date of Birth :</ion-col>
      <ion-col col-8>{{ user.dob }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>Smart CV :</ion-col>
      <ion-col col-8>
        <button ion-button class="smart-cv-button" color="primary" clear>View Smart CV</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <button ion-button round color="primary" (click)="showConfirm()">Approve Application</button>
    </ion-row>
  </ion-grid>

</ion-content>
