page-user-application {

  .header-img{
    background-image: url('../assets/imgs/job-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 160px;
    width: 100%;
    // opacity: 0.8;
    // filter: blur(3px);

    img{
      z-index: 10000;
      border-radius: 50%;
      width: 140px;
      height: 140px;
      position: absolute;
      top: 80px;
      left: 30%;
    }
  }

  .toolbar-background {
    border-bottom: none !important;
  }

  .header-info{
    text-align: center;
    margin-top: 75px;

    h2{
      margin-bottom: -10px;
      font-weight: 700;
      color: $color3;
    }

    p{
      color: $color1;
      font-style: italic;
      margin-bottom: -3px;
    }
  }

  ion-grid {
    ion-row {
      font-weight: 600;
      .col-4 {
        font-size: 1.5em;
        font-weight: 700;
      }

      ion-col:nth-of-type(2){
        color: #6e6c6c;
      }

      .smart-cv-button{
        padding: 0px;
        margin: 0px;
        height: 1.1em;
        font-size: 0.9em
      }

    }

    ion-row:last-child{
      margin-top: 25px;

      button{
        margin: 0px auto;
      }
    }
  }
}
