
<ion-content padding class="green-bg">

  <!-- Search Input Box  -->
  <ion-searchbar *ngIf="currentUser?.role === 'jobseeker'" placeholder="Search approved applications" animated="true" [(ngModel)]="jobTitle"></ion-searchbar>
  <!-- Slider of New Matches (jobseeker view) -->
  <p class="custom-title" *ngIf="currentUser?.role === 'jobseeker'">Your approved Applications</p>

  <!-- Search Input Box  -->
  <ion-searchbar *ngIf="currentUser?.role === 'employer'" placeholder="Search people" animated="true" style="padding: 0px !important;"></ion-searchbar>
  <!-- Slider of New Matches (Employer view)  -->
  <p class="custom-title" *ngIf="currentUser?.role === 'employer'">Applications you have approved</p>

  <ion-spinner *ngIf="spin1"></ion-spinner>
  <div *ngIf="!spin1 && matchedJobs?.length === 0">
    <ion-row>
      <p>Sorry, no matches yet..</p>
    </ion-row>
  </div>

  <!-- Slides for Jobseeker view -->
  <ion-slides slidesPerView="3" class="animated slideInRight" effect="slide" *ngIf="currentUser?.role === 'jobseeker' && !spin && matchedJobs?.length > 0" #jobslider>
    <ion-slide *ngFor="let appliedJob of matchedJobs | filterJobs : jobTitle" tappable (click)="openChatBox(appliedJob.user_id, appliedJob.id, appliedJob.job_title)">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img [src]="appliedJob.image.url || 'assets/imgs/avatar.png'">
            <p>{{appliedJob.job_title}}</p>
            <!-- <button ion-button clear color="color3">{{appliedJob.job_title | slice:0:10}}</button> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>


  <!-- Slides for Employer view -->
  <ion-slides slidesPerView="4" class="animated slideInRight" effect="slide" *ngIf="currentUser?.role === 'employer' && !spin && approvedApplications?.length > 0" #jobslider>
    <ion-slide *ngFor="let approvedApplication of approvedApplications" tappable (click)="openChatBox(approvedApplication.user_id, approvedApplication.job_id, approvedApplication.job_title)">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img [src]="'assets/imgs/avatar.png'">
            <p>{{ approvedApplication.user_name }}</p>
            <p>{{ approvedApplication.job_title }}</p>
            <!-- <button ion-button clear color="color3">{{appliedJob.job_title | slice:0:10}}</button> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

  <!-- Displays a list of current/recent chats -->
  <p class="custom-title">Recent Chats</p>
  <ion-spinner *ngIf="spin2" class="spinner2"></ion-spinner>
<!-- Displays a list of employer's current chat with jobseekers -->
  <ion-list *ngIf="currentUser?.role === 'employer' && listForEmployer?.length > 0">
      <ion-item *ngFor="let display of listForEmployer" tappable (click)="openChatBox(display.jobseeker.id, display.jobId, display.jobTitle)">
        <ion-avatar item-start>
          <img [src]="display.jobseeker.avatar || 'assets/imgs/avatar.png'">
        </ion-avatar>
        <h2>{{display.jobseeker.name}}</h2>
        <p>Post for {{display.jobTitle}}</p>
      </ion-item>
  </ion-list>

  <!-- Displays a list of jobseeker's current chat with employers -->
  <ion-list *ngIf="currentUser?.role === 'jobseeker' && listForJobseeker?.length > 0">
      <ion-item *ngFor="let display of listForJobseeker" tappable (click)="openChatBox(display.employer.id, display.jobId, display.jobTitle)">
        <ion-avatar item-start>
          <img [src]="display.employer.avatar || 'assets/imgs/avatar.png'">
        </ion-avatar>
        <h2>{{display.employer.name}}</h2>
        <p>Post for {{ display.jobTitle }}</p>
      </ion-item>
  </ion-list>

  <!-- <ng-template #noRecentChats>
    <h2>No recent chats...</h2>
  </ng-template> -->


</ion-content>
