page-matches {

.green-bg {
  backgrond:  #2b633b !important;
}

.content-md {
  background:  #2b633b !important;
}


.searchbar-md {
  padding: 0px !important;
}
    .swiper-slide img {
        height: 60px !important;
        width: 60px !important;
        border-radius: 50%;
    }
    ion-slides {
        height: auto;

      ion-slide p{
        font-size: 55%;
        font-weight: bold;
        margin: 0;
        color: #c1c1c1 !important;
      }
      ion-slide p:nth-of-type(2) {
        color: #a5a3a3 !important;
      }

    }

    ion-spinner{
      display: block;
      margin: 0 auto;
      width: 35px;
      height: 35px;
      stroke: $color1;
      fill: $color3;
    }

    .spinner2{
      margin-top: 30%;
    }

    img {
        width: 80px !important;
        height: 80px !important;
    }

    .custom-title {
        font-size: 14px;
        color: $light;
        font-weight: bold;
    }

    .item-md,
    .item-ios{
      background-color: transparent;
      p{
        color: $color1; //Or $colorMain... Same ish...
      }
    }

    .item-md.activated,
    .item-ios.activated{
      background-color: transparent;
    }

    .item-md.item-block .item-inner,
    .item-ios.item-block .item-inner {
      border-top: 1px solid $item;
      border-bottom: none;
    }
}
