<!-- User Profile Page -->

<!-- Content  -->
<ion-content class="bg-green">
  <div class="container">
    <div class="top">

      <!-- User Information  -->
      <div id="user-introduction">
        <ion-row>
          <!-- User Image -->
          <ion-col col-12 text-center>
            <img *ngIf="profilePicture" class="profilePicture" [src]="profilePicture">
            <div *ngIf="!profilePicture" class="profilePicture profilePictureInitials" [innerHTML]="profileInitials"></div>
          </ion-col>
          <!-- User Name  -->
          <ion-col col-12 text-center>
            <div class="fullname" style="color: #3a5f3d;">{{ currentUser ? currentUser.name : "Jobber" }}</div>
            <p>{{ currentUser?.email }}</p>
          </ion-col>
        </ion-row>
      </div>

      <!-- Buttons  -->
      <div class="actions-btns">
        <ion-row>

          <!-- Settings Button  -->
          <ion-col col-6 class="custom-col">
            <button color="light" ion-fab (click)="openSettingsPage()">
              <ion-icon color="color7" name="settings" style="zoom:1.2;"></ion-icon>
            </button>
            <div class="btn-text">Settings</div>
          </ion-col>
          <!-- End Settings Button  -->

          <!-- Edit Profile Option Button -->
          <ion-col col-6>
            <button color="light" ion-fab (click)="openEditProfilePage()">
              <ion-icon color="color7" name="md-create" style="zoom:1.2;"></ion-icon>
            </button>
            <div class="btn-text">Edit Info</div>
          </ion-col>
          <!-- End Edit Profile Option Button  -->
        </ion-row>
      </div>
    </div>

    <!-- Slider  -->
    <div class="bottom" *ngIf="sliderData" text-center>
      <ion-slides class="animated slideInRight" pager loop="true" effect="slide" autoplay="4000" class="bg-green">
        <ion-slide *ngFor="let data of sliderData">
          <h4>{{data.title}}</h4>
          <p>{{data.details}}</p>
        </ion-slide>
      </ion-slides>
    </div>
    <!-- End Slider  -->
  </div>
</ion-content>
<!-- End Content  -->

<!-- Footer  -->
<ion-footer no-shadow no-border>
  <ion-toolbar position="bottom">
    <button padding ion-button color="white" (click)="comingSoon()">Healthjobber Plus</button>
  </ion-toolbar>
</ion-footer>
<!-- End footer  -->
