page-profile {

.bg-green {
  background-color: #2b633b !important;
  color: #fff !important;
}


.toolbar-background-md {
  background: #2b633b !important;
}
    .container {
        width: 100%;
        height: 100%;
        background: #2b633b !important;
        .top {
            height: 70%;
            background-color: #fff;
            border-bottom-left-radius: 50% 100px;
            border-bottom-right-radius: 50% 100px;
            box-shadow: 0px 1px 4px -1px rgba(130, 126, 130, 0.45);
            #user-introduction {
                padding-top: 5%;
                ion-row {
                    ion-col {

                      .profilePicture{
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
                      }

                      .profilePictureInitials{
                        background: $colorMain;
                        font-size: 45px;
                        color: #fff;
                        text-align: center;
                        letter-spacing: 3px;
                        line-height: 100px;
                        margin: 0 auto;
                      }

                        // #profilePicture{
                        //   width: 100px;
                        //   height: 100px;
                        //   border-radius: 50%;
                        //   background: #512DA8;
                        //   font-size: 35px;
                        //   color: #fff;
                        //   text-align: center;
                        //   line-height: 150px;
                        // }

                        // img {
                        //     width: 100px;
                        //     height: 100px;
                        //     border-radius: 50%;
                        //     box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
                        // }

                        .fullname {
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }
                }
                .custom-section {
                    border-top: 1px solid #e9e9e9;
                    padding-top: 2%;
                }
            }
            .actions-btns {
                margin-top: 10px;
                .col {
                    text-align: center;
                    display: inline-block;
                    .fab {
                        display: inline-block;
                        .icon {
                            font-weight: bold;
                        }
                    }
                    .btn-text {
                        color: #c1c1c1;
                        text-transform: uppercase;
                        font-weight: bold;
                        margin-top: 5px;
                    }
                }
                .custom-col {
                    border-right: 1px solid #c1c1c1;
                }
            }
        }
        .bottom {
            background-color: #2b633b !important;
            margin-top: 10px;
            .swiper-slide img {
                height: 60px !important;
                width: 60px;
                border-radius: 50%;
            }
            ion-slides {
                height: auto;
            }
            h4 {
                font-size: 1.6rem;
            }
            p {
                font-size: 14px;
                margin-bottom: 10%;
            }
        }
    }
    ion-footer {
        text-align: center;
        .button {
            color: #e19c2e;
            font-weight: bold;
            box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
        }
    }

    #user-introduction{
      p{
        color: #c1c1c1;
      }
    }
}
