<!--
  - @author    Ionic Bucket <ionicbucket@gmail.com>
  - @copyright Copyright (c) 2018
  - @license   Fulcrumy
-->
<!-- User Edit Profile Page -->

<!-- Header  -->
<ion-header no-border>
  <ion-navbar color="white" no-border>

    <!-- Buttons  -->
    <ion-buttons start>
      <button ion-button color="color1" clear (tap)="dismiss()">
        <ion-icon name="arrow-back" style="zoom:2.0;"></ion-icon>
      </button>
    </ion-buttons>

    <!-- Page Title  -->
    <ion-title color="color1">Edit Work Details</ion-title>
  </ion-navbar>
</ion-header>
<!-- End Header  -->

<!-- Content  -->
<ion-content>
  <!-- Profile Photo Section  -->


  <!-- Smart Photos Option  -->
  <!-- <ion-item>
    <ion-label color="color7">Enable Smart CV</ion-label>
    <ion-toggle checked="true" color="color3"></ion-toggle>
  </ion-item> -->

  <!-- Profile Information  -->
  <ion-list inset no-lines color="color7">
   <!--  <p>Smart CV sends an auto formatted version of your basic profile and work history to Employers whenever you apply for jobs</p> -->
    <br/>

<br/>

    <h2> Work Details </h2>
    <hr/>


    <form #updateWorkForm="ngForm" (ngSubmit)="updateWork()">

    <!-- Job Title  -->
    <p><b>Job Title</b></p>
    <ion-item no-padding>
      <ion-input type="text" name="job_title" #job_title placeholder="Add Job Title" ngModel required></ion-input>
    </ion-item>

    <!-- <ion-input type="hidden" name="user_id" ng-value="{{ currentUser.id }}" ngModel ></ion-input> -->
    <!-- Company  -->
    <p><b>Company</b></p>
    <ion-item no-padding>
      <ion-input type="text" name="company" #company placeholder="Company Name" ngModel required></ion-input>
    </ion-item>

     <p><b>Responsibilities</b></p>
    <ion-item no-padding>
      <ion-textarea type="text" name="responsibilities" #responsibilities placeholder="Responsibilities at company" ngModel required></ion-textarea>
    </ion-item>

    <ion-row>
      <ion-col col-6>
     <p><b>Start Date</b></p>
    <ion-item no-padding>
       <ion-label padding-left>
                  <ion-icon name="md-calendar" color="color3"></ion-icon>
                </ion-label>
                <ion-datetime name="start_date"  displayFormat="DDDD MMM, YYYY" #start_date placeholder="Start Date" ngModel required text-left></ion-datetime>

    </ion-item>

  </ion-col>

  <ion-col col-6>

     <p><b>End Date</b></p>
    <ion-item no-padding>
         <ion-label padding-left>
       <ion-icon name="md-calendar" color="color3"></ion-icon>
                </ion-label>
                <ion-datetime name="end_date"  displayFormat="DDDD MMM, YYYY" placeholder="End Date" #end_date ngModel required text-left></ion-datetime>

    </ion-item>
  </ion-col>
</ion-row>

    <hr/>
    <button ion-button text-right type="submit" color="color3" ion-button full [disabled]="!updateWorkForm.valid" >
              Save And Add New
    </button>

  </form>

  <br/><hr/>

<br/>

   <p><b>All Work Experience</b></p>

   <ion-item no-padding>
    <ion-row>
      <ion-col>
        Start
      </ion-col>
      <ion-col>
        End
      </ion-col>
      <ion-col>
      Job
      </ion-col>
      <ion-col>
      Company
      </ion-col>
    </ion-row>
    <!-- <ion-row *ngFor="let work of work_details">
        <ion-col>
        {{work.start_date}}
      </ion-col>
      <ion-col>
        {{work.end_date}}
      </ion-col>
      <ion-col>
      {{work.job_title}}
      </ion-col>
      <ion-col>
      {{work.company}}
      </ion-col>

    </ion-row> -->

<!--
      <table>
        <tr>
        <th>Start</th><th>End</th><th>Job</th><th>Company</th>
      </tr>
      <tr *ngFor="let work of work_details">
        <td>{{work.start_date}} </td>
        <td> {{work.end_date}} </td>
        <td> {{work.job_title }}</td>
        <td> {{work.company }}</td>
      </tr>
      </table>
 -->
    </ion-item>




    <!-- School  -->
   <!--  <p><b>Most Recent School Attended</b></p>
    <ion-item no-padding>
      <ion-input type="text" placeholder="Add School Name"></ion-input>
    </ion-item>
 -->
    <!-- Instagram Photos  -->
   <!--  <p><b>Show my Instagram Photos</b></p>
    <ion-item no-padding>
      <button ion-button color="color3" clear>Connect Instagram</button>
    </ion-item> -->

    <!-- Gender  -->
    <!-- <p><b>Gender</b></p>
    <ion-list radio-group no-padding>
      <ion-item>
        <ion-label>Male</ion-label>
        <ion-radio color="color3" checked="false" value="Man"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Female</ion-label>
        <ion-radio color="color3" checked="true" value="Women"></ion-radio>
      </ion-item>
    </ion-list>
 -->

</ion-list>
</ion-content>
<!-- End Content  -->
