<ion-content>

  <ion-tabs [selectedIndex]="selectedTabIndex || 1" tabsPlacement="top" no-border  *ngIf="user && user.role === 'jobseeker'">
    <ion-tab [tabsHideOnSubPages]="true" tabTitle="Profile" tabIcon="person" [root]="tab1" [rootParams]="user" color="color1"></ion-tab>
    <ion-tab [tabsHideOnSubPages]="true" tabTitle="Jobs" tabIcon="medkit" [root]="tab2" [rootParams]="user"></ion-tab>
    <ion-tab [tabsHideOnSubPages]="true" tabTitle="Applications" tabIcon="apps" [root]="tab3" [rootParams]="selectedTabIndex"></ion-tab>
    <ion-tab [tabsHideOnSubPages]="true" tabTitle="Chat" tabIcon="chatboxes" [root]="tab4"></ion-tab>
  </ion-tabs>

  <ion-tabs selectedIndex="1" tabsPlacement="top" no-border *ngIf="user && user.role === 'employer'">
    <ion-tab [tabsHideOnSubPages]="true" tabTitle="Profile" tabIcon="person" [root]="tab1" [rootParams]="user" color="color1"></ion-tab>
    <ion-tab [tabsHideOnSubPages]="true" tabTitle="My Jobs" tabIcon="git-network" [root]="tab5" [rootParams]="user"></ion-tab>
    <ion-tab [tabsHideOnSubPages]="true" tabTitle="Chat" tabIcon="chatboxes" [root]="tab4"></ion-tab>
  </ion-tabs>

</ion-content>
