page-home {
    .tabbar {
        background: #2b633b !important;
        color: #fff !important;
        box-shadow: 0 2px 7px 0 rgba(0,0,0,0.30);
    }

  .tabs-md .tab-button {
    color: #fff !important;
    padding: 0;
  }

  .tabs-md .tab-button-icon {
    color: #fff;
    }
}
