<ion-content class="bg-green">
  <!-- <button (click)="loadEditModal()">
    Launch
  </button> -->

  <!-- Loding Spinner for Jobs  -->
  <div class="loading" *ngIf="jobs.length === 0 && initialJobSearch && role === 'jobseeker'">

    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
      <img src="assets/icon/icon.jpg">
      <div class="label">Loading Available Jobs...</div>
    </div>
  </div>

  <!-- Text for empty list -->
  <div *ngIf="jobs.length === 0 && !initialJobSearch && role === 'jobseeker'" padding id="emptyJobList">
    <h6 text-center>There are currently no job vacancies to display, kindly hit the refresh button or try again later...</h6>
  </div>

<!-- Swipe Card  -->
<!-- This card is apply from - https://github.com/ksachdeva/angular2-swing  -->
<!-- Every single user will be shown in this card -->
<div swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutleft)="like(false)" (throwoutright)="like(true)" (throwoutdown)="like(false)"
    (throwoutup)="like(true)" id="card-stack" *ngIf="jobs && jobs.length > 0">

  <ion-card  #mycards1 swing-card *ngFor="let job of jobs">
      <ion-item color="greybg">
    <!--     <ion-avatar item-start>
        </ion-avatar> -->
        <!-- <h2>{{ job.job_category? 'job.job_category.name': '----'}}</h2> -->
        <ion-note text-left>
          <ion-icon name="locate"></ion-icon> {{job.location}}
        </ion-note>

      </ion-item>

      <br/>
      <ion-card-content (tap)="goToJobDetailsPage(job)">
        <h1 text-center> {{job.job_title}} </h1>
        <hr/>
        <p class="name">{{job.job_description | slice:0:250}}<span *ngIf="job.job_description.length > 300">...</span></p>
      </ion-card-content>

      <ion-row>
        <ion-col text-right>
        <ion-note >
              <ion-icon name="power"></ion-icon><i>until: {{ job.expiry_date }} </i>
          </ion-note>
        </ion-col>
      </ion-row>

    <div class="overlay" (tap)="goToJobDetailsPage(job, 1)">
      <div class="card-title">
        <span class="small"><i>posted by </i> </span>
        <p class="name">
          {{ job.company_name }}
        </p>
        <ion-note text-right>
              <ion-icon name="calendar"></ion-icon><i>Posted: {{ job.created_at | date }} </i>
          </ion-note>
      </div>
    </div>

  </ion-card>

</div>

  <!-- Bottom Buttons  -->
  <div class="buttons">

    <!-- Dis-Like Button  -->
    <div class="button-container" *ngIf="jobs.length > 0">
      <button ion-button icon-only round class="dislike bubbly-button" (click)="like(false)" id="dislike-button">
        <ion-icon color="danger" name="md-close"></ion-icon>
      </button>
    </div>

    <!-- Refresh Button  -->
    <div class="button-container"*ngIf="!(jobs.length === 0 && initialJobSearch)" [ngClass]="{'addMarginBottom': jobs.length === 0 && !initialJobSearch}">
      <button ion-button icon-only round class="refresh bubbly-button" (click)="refresh()">
        <ion-icon color="color7" name="refresh"></ion-icon>
      </button>
    </div>

    <!-- Super Like Button  -->
    <!-- <div class="button-container">
      <button ion-button icon-only round class="super-like" (click)="like(true)" id="super-like-button">
        <ion-icon color="color4" name="star"></ion-icon>
      </button>
    </div> -->

    <!-- Like Button  -->
    <div class="button-container" *ngIf="jobs.length > 0">
      <button ion-button icon-only round class="like bubbly-button" (click)="like(true)" id="like-button" class="bubbly-button">
        <ion-icon color="color5"name="checkmark-circle-outline"></ion-icon>
      </button>
    </div>

    <!-- Flash Button  -->
    <!-- <div class="button-container">
      <button ion-button icon-only round class="refresh">
        <ion-icon color="color6" name="flash"></ion-icon>
      </button>
    </div> -->
  </div>
</ion-content>
