<!--
  - @author    Ionic Bucket <ionicbucket@gmail.com>
  - @copyright Copyright (c) 2018
  - @license   Fulcrumy
-->
<!-- Settings Page -->

<!-- Header  -->
<ion-header no-border>
  <ion-navbar color="white" no-border>

    <!-- Buttons  -->
    <ion-buttons start>
      <button ion-button color="color1" clear (tap)="dismiss()">
        <ion-icon name="arrow-back" style="zoom:2.0;"></ion-icon>
      </button>
    </ion-buttons>

    <!-- Title of Page  -->
    <ion-title color="color1">Settings</ion-title>
  </ion-navbar>
</ion-header>
<!-- End Header  -->

<!-- COntent  -->
<ion-content padding class="bg-green">
  <!-- Show Me (Man/Women) Options  -->

    <!-- <ion-card>
    <ion-card-header color="color1">
      Smart CV
      <span>
         <p text-wrap >Smart CV sends an auto formatted version of your basic profile and work history to Employers whenever you apply for jobs</p>
         </span>
    </ion-card-header>
    <ion-card-content>
       <ion-item>
        <ion-label color="color7">Enable Smart CV</ion-label>
        <ion-toggle checked="showSmartCv" (ionChange) = "toggleSmartCv()" color="color3"></ion-toggle>
    </ion-item>


    <ion-item *ngIf="showSmartCv" >


      <button ion-button color="color3" full (click)="generateSmartCv()"> Generate </button>
    </ion-item>
    </ion-card-content>
  </ion-card> -->



  <!-- <ion-card>
    <ion-card-header color="color1">
      Job Type
      <p text-right>
        <span *ngIf="fulltime" right>FullTime</span>
        <span *ngIf="fulltime && parttime" right>,</span>
        <span *ngIf="parttime"> PartTime</span>
      </p>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label> FullTime</ion-label>
        <ion-toggle color="color1" checked="false" [(ngModel)]="fulltime"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label> PartTime</ion-label>
        <ion-toggle color="color1" checked="true" [(ngModel)]="parttime"></ion-toggle>
      </ion-item>
    </ion-card-content>
  </ion-card> -->

  <!-- Maximum Distance Option -->
  <!-- <ion-card>
    <ion-card-header color="color1">
      Maximum Distance
      <p text-right>
        <span *ngIf="distance" right>{{distance}} mi.</span>
      </p>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-range color="color1" [(ngModel)]="distance"></ion-range>
      </ion-item>
    </ion-card-content>
  </ion-card> -->

  <!-- Age Range  -->
 <!--  <ion-card>
    <ion-card-header color="color1">
      Age Range
      <p text-right>
        <span *ngIf="ages" right>{{ages.lower}}-{{ages.upper}}</span>
      </p>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-range color="color1" dualKnobs="true" [(ngModel)]="ages" min="18" max="99" debounce="500" pin="true"></ion-range>
      </ion-item>
    </ion-card-content>
  </ion-card> -->

  <!-- Show me on Tinder  -->
  <!-- <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label> Show me on Search</ion-label>
        <ion-toggle color="color1" checked="true" [(ngModel)]="visibility"></ion-toggle>
      </ion-item>
    </ion-card-content>
  </ion-card> -->


  <!-- App Settings -->
  <!-- <h4>App Settings</h4>
  <ion-card>
    <ion-card-header color="color1">
      Notifications
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>New Jobs</ion-label>
        <ion-toggle color="color1" checked="true"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Messages</ion-label>
        <ion-toggle color="color1" checked="true"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Job Likes</ion-label>
        <ion-toggle color="color1" checked="true"></ion-toggle>
      </ion-item>

    </ion-card-content>
  </ion-card> -->

  <!-- Contact Us  -->
  <h4>Contact Us</h4>
  <ion-card (click)="goToUrl('https://healthjobber.herokuapp.com/contact-us')">
    <ion-card-header text-center>
      Help & Support
    </ion-card-header>
  </ion-card>

  <!-- Others  -->
  <ion-card>
    <ion-item (click)="share()">
      Share HealthJobber
    </ion-item>
    <ion-item (click)="comingSoon()">
      Upgrade to HealthJobber Plus
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header color="color1">
      Legal
    </ion-card-header>
    <ion-card-content>
      <ion-item (click)="goToUrl('https://healthjobber.herokuapp.com/privacy-policy')">
        Privcy Policy
      </ion-item>
      <ion-item (click)="goToUrl('https://healthjobber.herokuapp.com/terms')">
        Terms of Service
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Logout  -->
  <ion-card (tap)="logout()">
    <ion-card-header text-center color="color1">
      Logout
    </ion-card-header>
  </ion-card>

</ion-content>
