page-my-jobs {
  .card-background-page {
    ion-card {
      position: relative;
      text-align: center;

      // img{
      //   height: 200px;
      // }
    }
    .card-badge {
      margin-top: -20px;
      position: absolute;
      top: 10%;
      width: 100%;
    }
    .card-title {
      position: absolute;
      top: 38%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #ebebeb;
    }
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      padding-top: 10px;
      color: #ebebeb;
    }


    .arrow-container {
      width: 100px;
      height: 100px;
      // margin: 0 auto;
      // position: absolute;
      // bottom: 25px;
      // left: 0;
      // right: 0;
    }

    .arrow-1 {
      width: 75px;
      height: 75px;
      background: $colorMain;
      opacity: 0.5;
      border-radius: 50%;
      position: absolute;
    }

    .arrow-2 {
      width: 45px;
      height: 45px;
      // background: $colorMain;
      border: 2px solid $colorMain;
      border-radius: 50%;
      position: absolute;
      top: 15px;
      left: 15px;
      z-index: 1;
      display: table;
    }

    // .arrow-2:before {
    //   width: 52px;
    //   height: 52px;
    //   content: "";
    //   border: 2px solid $colorMain;
    //   border-radius: 50%;
    //   position: absolute;
    //   top: 2px;
    //   left: 2px;
    // }

    .arrow-2 p{
      font-size: 20px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: #ebebeb;
    }

    /* Custom Animate.css */

    .animated.hinge {
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
    }

    @-webkit-keyframes zoomIn {
      0% {
        opacity: 0;
        -webkit-transform: scale3d(.4, .4, .4);
        transform: scale3d(.4, .4, .4);
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 0;
      }
    }

    @keyframes zoomIn {
      0% {
        opacity: 0;
        -webkit-transform: scale3d(.4, .4, .4);
        transform: scale3d(.4, .4, .4);
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 0;
      }
    }

    .zoomIn {
      -webkit-animation-name: zoomIn;
      animation-name: zoomIn;
    }

    // .arrow-right {
    //   display: inline-block;
    //   position: absolute;
    //   top: 3px;
    //   left: 52px;
    //   width: 0;
    //   height: 0;
    //   border-top: 17px solid transparent;
    //   border-bottom: 17px solid transparent;
    //   border-left: 17px solid #32db64;
    // }

    // .arrow{
    //   z-index: 1000;
    //   border-right: none;
    //   border-top-right-radius: 0%;
    //   border-bottom-right-radius: 0%;
    //   width: 50px;
    //   height: 32px;
    // }
  }
}
