<ion-content class="card-background-page">

  <ion-card  *ngFor="let job of myJobs" (click)="goToMyJobDetailsPage(job)">

    <img src="assets/imgs/job-bg.jpg"/>

    <div class=" card-badge arrow-container animated fadeInLeft">
      <div class="arrow-2">
        <!-- <i class="fa fa-angle-right"></i> -->
        <p *ngIf="job.closed"><ion-icon name="lock"></ion-icon></p>
        <p *ngIf="!job.closed"><ion-icon name="unlock"></ion-icon></p>

      </div>
      <div class="arrow-1 animated hinge infinite zoomIn"></div>
    </div>
    <div class="card-title">{{ job.job_title }}</div>
    <p class="card-subtitle">{{ job.job_description | slice:0:50}}<span *ngIf="job.job_description.length > 50">...</span></p>
  </ion-card>

  <ion-fab right bottom>
   <button ion-fab (click)="openAddJobDialog()"><ion-icon name="add"></ion-icon></button>
 </ion-fab>

</ion-content>
