page-applications {

  .green-bg {
  background:  #2b633b !important;
  }

  ion-content{
     p{
      margin: 65% auto;
      font-size: 1.2em;
    }

    .no-applications{
      text-align: center;
    }

  }

  .loading{
    margin: 65% 35%;
    text-align: center;

    ion-spinner{
      height: 50px;
      width: 50px;
      display: inline-block;
    }

    p{
      color: #c1c1c1;
      margin: 10px 0 0 5px;
    }
  }

  .item-md,
  .item-ios{
    background-color: transparent;
    p{
      color: $color1; //Or $colorMain... Same ish...
    }
  }

  .item-md.activated,
  .item-ios.activated{
    background-color: transparent;
  }

  .item-md.item-block .item-inner,
  .item-ios.item-block .item-inner {
    border-top: 1px solid $item;
    border-bottom: none;
  }
}
