<ion-content padding class="green-bg">

  <div class="loading" *ngIf="spin">
    <ion-spinner></ion-spinner>
    <p>Loading...</p>
  </div>

  <ion-list *ngIf="!spin">
    <ion-card *ngFor="let userAppliedJob of userAppliedJobs" (click)="goToJobDetailsPage(userAppliedJob, 2)">
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/imgs/avatar.png" alt="avatar">
        </ion-avatar>
        <h2>{{ userAppliedJob.job_title }}</h2>
        <p>{{ userAppliedJob.job_description }}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button clear>
          <ion-icon name="trash" color="danger" style="font-size: 32px;"></ion-icon>
        </button>
      </ion-item-options> <br/>
    </ion-card>
  </ion-list>

  <p class="no-applications" *ngIf="userAppliedJobs?.length == 0 && !spin">You currently have no applications.</p>

</ion-content>
