
<ion-header no-border>
  <ion-navbar color="">
    <ion-buttons start>
      <button ion-button color="color1" clear (tap)="dismiss()">
        <ion-icon name="arrow-back" style="zoom:1.5;"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title color="color1">Add Job</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

</ion-content>
