<!-- Chat Box Contents -->

<!-- Header  -->
<ion-header no-border>
  <ion-navbar color="">
    <ion-buttons start>
      <button ion-button color="color1" clear (tap)="dismiss()">
      <ion-icon name="arrow-back" style="zoom:1.5;"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title color="color1">{{ receiver?.name || 'Chat' }}</ion-title>
  </ion-navbar>
</ion-header>
<!-- End Header  -->

<!-- Contents  -->
<ion-content #content>

  <!-- Chat Messages  -->
  <div class="message-container">
    <div *ngFor="let chat of chats" class="message" [ngClass]="chat.senderId === currentUser.id ? 'right' : 'left'">
      <div class="msg-detail">
        <div class="msg-info">
          <p>
            <span>{{chat.senderName}}</span>, &nbsp; {{ chat.timestamp | amTimeAgo }}
          </p>
        </div>
        <div class="msg-content">
          <p>{{chat.message}}</p>
          <img *ngIf="chat.image" [src]="chat.image">
        </div>
      </div>
    </div>
  </div>

  <!-- Gif Images Slider  -->
  <!-- <div class="gifs-container" *ngIf="showGif">
    <ion-slides #mySlider slidesPerView="3" class="animated slideInLeft" effect="slide" *ngIf="gifs.length > 0" (ionSlideReachEnd)="getGifs($event)"
      (ionSlideTap)="sendGif(); showGif = !showGif">
      <ion-slide *ngFor="let gif of gifs">
        <img *ngIf="gif.images.preview_gif.url" [src]="gif.images.preview_gif.url">
      </ion-slide>
    </ion-slides>
    <ion-item>
      <ion-input type="text" placeholder="Search Gifs" (keyup)="searchGifs()" [(ngModel)]="searchText"></ion-input>
    </ion-item>
  </div> -->
</ion-content>
<!-- End Contents  -->

<!-- Footer  -->
<ion-footer no-border>
  <ion-grid>
    <ion-row>
      <!-- Gif Icon  -->
      <!-- <ion-col col-2 (click)="getGifs(); showGif = !showGif">
        <img src="assets/imgs/gif.jpg" class="gif-icon">
      </ion-col> -->

      <!-- Message Input Box  -->
      <ion-col col-12>
        <form [formGroup]="chatForm">
          <ion-item no-lines no-padding>
            <ion-textarea type="text" formControlName="message" placeholder="Type a message..." autocorrect="off" autocapitalize="none"
              required (ionFocus)="onMessageInputFocus()" (keyup.enter)="sendMsg()"></ion-textarea>
            <button ion-button item-right clear color="color1" [disabled]="!chatForm.valid" (click)="sendMsg()"><ion-icon class="send" name="send" color="primary"></ion-icon></button>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
<!-- End Footer  -->
